<div class="hero min-h-screen rounded-xl"
style="background-image: url(./home/home-hero.jpg); background-size: cover;">
<div class="hero-overlay bg-opacity-20"></div>
<div class="hero-content justify-start text-neutral-content w-full px-6 sm:px-8 lg:px-10">
  <div class="text-left">
    <h1 class="mb-5 text-3xl sm:text-5xl text-white font-bold">
      TechShop techecommerce app
    </h1>
    <p class="mb-5 text-lg sm:text-2xl text-white">
      Check out our collection of products
    </p>
    <button class="btn btn-primary btn-lg" routerLink="/products">
      Shop Collection
    </button>
  </div>
</div>
</div>
